<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <link rel="stylesheet" href="Static/Style.css">
    
</head>
<body>
    <div class="Err">
        <div class="icon">⚠️</div>
        <h1 class="error">500 - Internal Server Error</h1>
        <p>Oops! Something went wrong on our end.</p>
        <p class="message">Please try again later or click the button below to return to the homepage.</p>
    </div>
    <a href="/" class="back-button">Back to Home</a>
</body>
</html>
