<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.A.Name}}</title>
    <link rel="stylesheet" href="Static/Style.css">
</head>

</head>
<body>
<header>
    <h1>Groupie Tracker</h1>
</header>
    <div class="container">
        <div>
            <img src="{{.A.Image}}" alt="{{.A.Name}}">
        </div>
        <div class="info">
            <h1>{{.A.Name}}</h1>
            <p>Members: {{range .A.Members}}{{.}}, {{end}}</p>
            <p>Creation Date: {{.A.CreationDate}}</p>
            <p>First Album: {{.A.FirstAlbum}}</p>
            <h2>Locations</h2>
            <ul>
            {{range .L.Locations}}
                <li>{{.}}</li>
            {{end}}
            </ul>
            <h2>Concerts Dates</h2>
            <ul>
            {{range .D.Dates}}
                <li>{{.}}</li>
            {{end}}
            </ul>
            <h2>Concerts locations</h2>
            <ul>
            {{range $key, $value := .R.DatesLocations}}
                <li>{{$key}}: {{range $value}}{{.}}, {{end}}</li>
            {{end}}
            </ul>
        </div>
    </div>
    <a href="/" class="back-button">Back to Home</a>
<footer>
    <p>&copy; 2024 Groupie Tracker</p>
</footer>
</body>
</html>