<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Static/Style.css">
    <title>Groupie Tracker</title>
    
</head>
<header>
    <h1>Groupie Tracker</h1>
</header>
<body>

    <h4>Artists</h4>
    
  <section id="artists" class="card-container">
    {{range .}}
    
    <div class="card">
        <a href="/artistInfo?name={{.Name}}">
        <img src="{{.Image}}" alt="{{.Name}}">
        <h3>{{.Name}}</h3>
    </a>
    </div>
    
    {{end}}
</section>
</body>
<footer>
    <p>&copy; 2024 Groupie Tracker</p>
</footer>
</html>
