
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color:wheat;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
    }

    h1 {
        margin: 0;
        color: #fff;
        margin-bottom: 10px;
        
    }

    h4 {
        margin: 20px 0;
        text-align: center;
        color: black;
        margin-bottom: 10px;
        font-size: 30px;
    }
    h3 {
        text-align: center;
margin-top: 20px;
    }

    .card a {
        color: black;

        font-size: 16px;
    }
    p {
        margin: 5px 0;
        font-size: 16px;
        color: #ddd;

    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 5px 0;
        color: #ccc;
    }

    img {
        max-width: 200px;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 30px;
    }

    .container {
        background-color: #343a40;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
    }

    .info {
        flex: 1;
    }

    .back-button {
        display: block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #343a40;
        color: white;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
    }

    .back-button:hover {
        background-color: #404040;
    }

    header {
        background-color: #343a40;
        color: #ffffff;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

    .card {
        background: #ffffff;
        border: 1px solid #dee2e6;
        border-radius: 5px;
        margin: 10px;
        padding: 15px;
        width: 250px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        max-width: 100%;
        border-radius: 5px;
    }

    footer {
        text-align: center;
        padding: 20px;
        background-color: #343a40;
        color: #ffffff;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: 20px;
    }
